<!-- содержимое шаблонных тегов - выражение -->
<header>
    <img src="img/angular.svg" />
    <h1>{{ title }}</h1>
</header>
<main>
    <!-- Используем структурную директиву ngIf для отображения блока шаблона при условии наличия элементов todos -->
    <section class="todo-list" *ngIf="todos.length">
        <!-- Используем структурную директиву ngFor, чтобы создать для каждого элемента массива todos div и  
            объявить локальную переменную todo для каждого элемента массива по порядку -->
            <!-- Атрибутные директивы нужны для изменения внешнего вида/поведения DOM-элементов.
                Они не создают и не удаляют DOM-элементы.
                ngClass в зависимости от условия добавляет/удаляет класс у DOM-элемента.
                В кач-ве значения указывается объект,ту которого н.определить св-во (оно будет названием класса), 
                а в качестве значения для этого св-ва указ-ся true/false. А в задаче будем хранить её статус. -->
        <div class="todo-item" *ngFor="let todo of todos" [ngClass]="{ 'completed': false }">
            <button class="checkbox icon">
                <i class="material-icons">check_box_outline_blank</i>  
            </button>
            <!-- Используем локальную переменную todo в шаблоне -->
            <span class="title">{{ todo }}</span>
            <div class="actions">
                <button class="delete icon">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </section>
</main> 